<ion-header>
  <ion-toolbar color = 'success'>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aplicação</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    
     <ion-slide>
      <div class="slide">
        <img src="assets/img/4.png"/>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <img src="assets/img/5.png"/>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <img src="assets/img/6.png"/>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <img src="assets/img/7.png"/>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <img src="assets/img/8.png"/>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <img src="assets/img/9.png"/><a href="https://drive.google.com/drive/folders/1SSQiZFCw3onCfxTV7bDkCRMB3c77AwdE?usp=sharing"></a>
      </div>

     </ion-slide>
     
  </ion-slides>

</ion-content>


